<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="StarGate" type="OverNear.App.StarGate.ConfigSection,OverNear.App.StarGate" />
	</configSections>

	<appSettings>
		<add key="ForceReadPreference" value="PrimaryPreferred" />
		<add key="ForceWriteConcern" value="Acknowledged" />

		<add key="ElasticSearchURI" value="http://localhost" />
	</appSettings>

	<StarGate xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ReplicaName="blah">
		<Routes xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

			<Route xsi:type="RouteByNameSpace" NameSpace="Event.Event" Continue="true" OpLogType="Writes">
				<Trigger xsi:type="DynamicRestPublisher" NoPayloadInUri="true">
					<Logic>
						<![CDATA[function(o) { 
	var r = {url:'http://localhost:8080/', verb:'GET'};
	switch(o.op) {
		case 'i':
			r.verb = "POST";
			break;
		case 'u':
			r.verb = "PUT";
			break;
		case 'd':
			r.verb = "DELETE";
			break;
		default:
			r.verb = "GET";
			break;
	}
	return r; 
};]]>
					</Logic>
				</Trigger>
			</Route>
		</Routes>
		<ReadThreads>
			<ReadThread Name="unittest_01" Path="mongodb://localhost/test" Match="*" MasterOnly="true" />
			<!--<ReadThread Name="unittest_02" Path="mongodb://localhost/test" Match="*" MasterOnly="true"/>-->
		</ReadThreads>
	</StarGate>
	
  <system.net>
    <defaultProxy enabled="false" />
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
		  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		  <publisherPolicy apply="no" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
