<log4net>
  
  <appender name="ConsoleDebug" type="log4net.Appender.ColoredConsoleAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
    </filter>
    <mapping>
      <level value="FATAL"/>
      <foreColor value="RED, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="ERROR"/>
      <foreColor value="RED"/>
    </mapping>
    <mapping>
      <level value="WARN"/>
      <foreColor value="YELLOW"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <foreColor value="WHITE"/>
    </mapping>
    <mapping>
      <level value="DEBUG"/>
      <foreColor value="GREEN"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{mm:ss.fff} [%t] %logger{1}&gt; %message%newline"/>
    </layout>
  </appender>
  
  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\httpEcho\Debug.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <encoding value="utf-8"/>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t:%property{binver}] %-5p %c{1} - %m%n"/>
    </layout>
  </appender>
	
	<appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="c:\logs\httpEcho\Info.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="5"/>
		<maximumFileSize value="200MB"/>
		<encoding value="utf-8"/>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <!--<levelMax value="WARN"/>-->
    </filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t:%property{binver}] %-5p %c{1} - %m%n"/>
		</layout>
	</appender>
	
  <appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\httpEcho\Warn.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <encoding value="utf-8"/>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t:%property{binver}] %-5p %c{1} - %m%n"/>
    </layout>
  </appender>
	
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\httpEcho\Error.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <encoding value="utf-8"/>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t:%property{binver}] %-5p %c{1} - %m%n"/>
    </layout>
  </appender>
	
  <root>
    <level value="DEBUG" />
	  <appender-ref ref="DebugFileAppender" />
    <appender-ref ref="InfoFileAppender" />
    <appender-ref ref="WarnFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
    <appender-ref ref="ConsoleDebug" />
  </root>
  
</log4net>