<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="StarGate" type="OverNear.App.StarGate.ConfigSection,OverNear.App.StarGate" restartOnExternalChanges="false" />
  </configSections>
  <appSettings>
    <add key="_verboseLog" value="IO" />
    <add key="_hostedDb" value="true" />
    <add key="ElasticSearchURI0" value="http://localhost" />
    <add key="BASE_MONGO_PATH" value="mongodb://localhost" />
    <add key="UseCoreKeys" value="true" />
    <add key="Stackify.AppName" value="StarGate" />
    <add key="Stackify.Environment" value="Local" />
    <add key="Stackify.AppName" value="" />
    <add key="Stackify.Environment" value="" />
    <add key="Stackify.ProxyServer" value="" />
    <add key="Stackify.ApiKey" value="" />
  </appSettings>
  <StarGate configSource="StarGate.config" />
  <system.net>
    <defaultProxy enabled="false" />
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<log4net>
      <root>
         <level value="ALL" />
         <appender-ref ref="StackifyAppender" />
     </root>
     <appender name="StackifyAppender" type="StackifyLib.log4net.StackifyAppender, StackifyLib.log4net">
          <globalContextKeys></globalContextKeys>
          <threadContextKeys></threadContextKeys>
          <logicalThreadContextKeys></logicalThreadContextKeys>
          <callContextKeys></callContextKeys>
          <!-- If logging a very high rate of messages, disable logging method names for performance -->
          <logMethodNames>true</logMethodNames>
          <!-- Only log errors and fatals by using filters and setting levelMin and levelMax appropriately -->
          <!-- http://logging.apache.org/log4net/release/manual/configuration.html -->
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
          </filter>
     </appender>
   </log4net></configuration>