<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ElasticSearchURI" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="ElasticSearchURI0" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="ElasticSearchURI1" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="ElasticSearchURI2" xdt:Transform="Remove" xdt:Locator="Match(key)" />

		<add key="BASE_MONGO_PATH" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<!--<add key="DEFAULT_MONGO_OPTIONS" xdt:Transform="Remove" xdt:Locator="Match(key)" />-->

		<add key="Stackify.Environment" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="Stackify.Environment" value="Release" xdt:Transform="Insert"/>
	</appSettings>

	<common>
		<logging xdt:Transform="Replace">
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
			<arg key="configType" value="FILE-WATCH" />
			<arg key="configFile" value="~/log4net.Release.config" />
			</factoryAdapter>
		</logging>
	</common>
  
</configuration>