<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<StarGate xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<Routes xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<Route xsi:type="RouteByNameSpace" NameSpace="\.\$cmd$" xdt:Transform="Remove" xdt:Locator="Match(NameSpace)"></Route>
	</Routes>
	
</StarGate>