<?xml version="1.0" encoding="utf-8"?>
<StarGate xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  ReplicaName="MainCluster">

	<BasePathSettings xsi:type="BasePathSettings" Path="http://localhost" />
	
	<ReadStateRepo xsi:type="ReadStateElasticAsyncRepo" 
				   Path="http://loclahost/stargate/ReadState"
				   InnerLoopSleepMs="100" OuterLoopSleepMs="500" />

	<Routes xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<Route xsi:type="RouteByNameSpace" NameSpace=".*" Continue="false" OpLogType="Writes">
			<Trigger xsi:type="PublishChain">
				<Publishers>

					<Trigger xsi:type="FullObjectDecorator">
						<Trigger xsi:type="TransformJsDecorator">
							<Logic>
								<![CDATA[function(o) {
	return o;
};]]>
							</Logic>
							<Trigger xsi:type="DynamicRestPublisher" IgnoreNullEval="true">
								<Logic>
									<![CDATA[function(o) {
	return null;
};]]>
								</Logic>
							</Trigger>
						</Trigger>
					</Trigger>
					
				</Publishers>
			</Trigger>
		</Route>
		
	</Routes>
	
	<ReadThreads>
		<ReadThread Path="mongodb://localhost/test" Match="*" />
	</ReadThreads>

</StarGate>