<?xml version="1.0" encoding="utf-8" ?>
<StarGate xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<BasePathSettings xsi:type="BasePathSettings" 
					  Path="https://localhost" 
					  xdt:Transform="Replace" />
	
	<ReadStateRepo xsi:type="ReadStateElasticAsyncRepo"
				   Path="https://localhost/stargate/ReadState"
				   InnerLoopSleepMs="100" OuterLoopSleepMs="500"
				   xdt:Transform="Replace" />
	
	<ReadThreads xdt:Transform="Replace">
		<ReadThread Path="mongodb://localhost/test?socketTimeout=0s" Match="*" />
	</ReadThreads>
	
</StarGate>